<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

#defining cache period for different file types
<IfModule mod_expires.c>
  ExpiresActive on

  # cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
 # ExpiresByType text/cache-manifest       "access plus 0 seconds"

# favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 100 week"

#for javascript
  ExpiresByType text/javascript           "access plus 1 day"
  ExpiresByType application/javascript    "access plus 1 day"
  ExpiresBYType application/x-javascript  "access plus 1 day"
  ExpiresByType text/js                   "access plus 1 day"

#for css,map and js files
  ExpiresByType text/css                  "access plus 1 day"
  ExpiresByType text/map                  "access plus 100 week"

# media: images, video, audio
  ExpiresByType image/gif                 "access plus 1 week"
  ExpiresByType image/png                 "access plus 1 week"
  ExpiresByType image/jpg                 "access plus 1 week"
  ExpiresByType image/jpeg                "access plus 1 week"

# webfonts
  ExpiresByType font/truetype             "access plus 10 month"
  ExpiresByType font/opentype             "access plus 10 month"
  ExpiresByType application/x-font-woff   "access plus 10 month"
  ExpiresByType image/svg+xml             "access plus 10 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

  #header for cache-control type
  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>

  ExpiresDefault "access 2 days"
</IfModule>

#telling server to send files in gzip format to speedup site
<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|jpg|png)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>