html{
	height: 100%;
	background: #FFBF47;
	color:#372F5E;
	font-family: "Open Sans", sans-serif;
	overflow-x:hidden; 
}
html{
	/*overflow-y:hidden; */
}
body{
	/*overflow-y:auto;*/
}
.head-logo{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
.logo-icon{
	max-width: 33%;
}
.head-text-wrapper{
	width: 100%;
	margin-top: -100px;
}
.back-img{
	width: 100%;
	height: auto;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.head-text{
	font-size: 1.6em;
	width: 100%;
	text-align: left;
	position:relative;
	top:100px;
	z-index: 2;
}
.sketches{
	max-height: 20%;
}
.body{
	
}
.body-padding{
	padding-bottom: 50px;
}
.text-head{
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.11);
	cursor: pointer;
	font-size: 1.1em;

}
.text-head img{
	float: right;
	-ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}
.text-head-answer{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.2em;
	line-height: 1.4em;
    overflow: hidden;
    text-align: center;
 }   
.text-head-answer>p{
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.text-head-answer img{
	min-height: 120px;
	max-width: 100%;
}
.show {
  display: block !important;
  height: inherit !important;
}

.rotate {
    -ms-transform: rotate(0deg) !important; /* IE 9 */
    -webkit-transform: rotate(0deg) !important; /* Chrome, Safari, Opera */
    transform: rotate(0deg) !important;
}

.android-display .img{
	background: #372F5E;
	padding: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	box-shadow: 0px 0px 1px #372F5E; 
	margin: auto;
	cursor: pointer;
}
.android-display .img img{
	vertical-align: middle;
	height: 40px;
	margin-top: 15px;
}
.footer{
	padding: 20px;
}
.footer div{
	float: left;
	width: 25%;
	text-align: center;
}

#phone,#phone-text{
	display: inline;
}
#phone{
	height: 40px;
}

#phone-text{
	padding: 10px;
	background: rgba(83, 40, 101, 1);
	color: rgba(255, 191, 71, 1);
	font-size: 1.2em;
	margin-left: -5px;
	margin-bottom: -2px;
	padding-bottom: 14px;
    padding-top: 10px;
}


.mobile-num-block{
	background: #F5BA42;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
	margin-left: -10px;
	z-index: 10;
}

.wrapper input,
.wrapper button {
    float: left;
}
.wrapper {
    position: relative;
    width: 100%;
     display: flex;

}
input {
    float: left;
    box-sizing: border-box;
    padding-right: 0%;
    width: 60%;
    height: 45px;
    padding-left: 10px;
    font-size: 1.1em;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 40%;
    height: 45px;
    background: rgba(83, 40, 101, 1);
    color: rgba(255, 191, 71, 1);
    border: 0px;
    font-size: 1em;
}
.head-bg-img{
	width: 100%;
	height: auto;
}

#help-text{
	width: 100%;
	font-size: 0.9em;
}
.error{
	color: #F11717;
}
.success{
	color: #3c763d;
}
#free{
	cursor: pointer;
}

.hidden{
	display: none;
}

.fix-bottom{
	margin-top: 30px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top:1px dashed rgba(0, 0, 0, 0.11);;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 20px;
}
.fix-bottom img{
	float: right;
}

.logo-top{
	border-bottom:1px dashed rgba(0, 0, 0, 0.11);;
	width: 100%;
}
.logo-top img{
	height: 50px;
}

.slide-banner{
	background-color: #FFCE58;
	padding: 20px;
	margin-left: -20px;
	margin-right: -20px;
}
.slide-banner img{
	height: 130px;
}
.slide p{
	padding-left: 20px;
	padding-right: 20px;
}

.slide-buttons{
	width: 100%;
}
.slide-buttons span{
	width: 50px;
	height: 38px;
	border-radius: 50%;
	background: rgba(83,40,101,0.2);
	display: inline-table;
	margin: 20px;
	padding-top: 12px;
	vertical-align: middle;
	color: #FFBF47;
	cursor: pointer;
}
.slide-buttons span.active{
	background:rgba(83,40,101,1);
}
.chose_ans_head{
	height: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.chose_ans_head img{
	width: 60px;
	height: 60px;
	min-height: 60px;
}
.chose_ans_head span{
	display: block;
}
.chose_head{
	width:68%;
	margin-top: -50px;
	margin-left: 30%;
	text-align: left;
	padding-left: 5%;
	font-weight: bold;
	font-size: 1.1em;
}
.chose_ans_body{
	padding-left: 10px;
	padding-right: 10px;
}
.footer-text{
	font-weight: normal;
	font-size: 0.95em;
	text-align: center;
}