html,body{
	height: 100%;
	background: #FFBF47;
	color:#372F5E;
	font-family: "Open Sans", sans-serif;
}

.head-logo{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
.logo-icon{
	max-width: 33%;
}
.head-text-wrapper{
	width: 100%;
	margin-top: -100px;
}
.back-img{
	width: 100%;
	height: auto;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.head-text{
	font-size: 1.6em;
	width: 100%;
	text-align: left;
	position:relative;
	top:100px;
	z-index: 2;
}
.sketches{
	max-height: 20%;
}
.body{
	padding: 20px;
}
.body-padding{
	padding-bottom: 90px;
}
.text-head{
	font-weight: bold;
	font-size: 1.3em;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.11);
	cursor: pointer;

}
.text-head img{
	float: right;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.text-head-answer{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.2em;
	line-height: 1.4em;
	display: none;
	height: 0px;
	-webkit-transition: height 1s; /* Safari */
    transition: height 1s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    overflow: hidden;
    text-align: center;
 }   
.text-head-answer p{
	text-align: left;
}
.text-head-answer img{
	min-height: 120px;
	max-width: 100%;
}
.show {
  display: block !important;
  height: inherit !important;
}

.rotate {
    -ms-transform: rotate(0deg) !important; /* IE 9 */
    -webkit-transform: rotate(0deg) !important; /* Chrome, Safari, Opera */
    transform: rotate(0deg) !important;
}

.footer{
	padding: 20px;
}
.footer div{
	float: left;
	width: 25%;
	text-align: center;
}

#phone,#phone-text{
	display: inline;
}
#phone{
	height: 40px;
}

#phone-text{
	padding: 10px;
	background: rgba(83, 40, 101, 1);
	color: rgba(255, 191, 71, 1);
	font-size: 1.2em;
	margin-left: -5px;
	margin-bottom: -2px;
	padding-bottom: 14px;
    padding-top: 10px;
}


.mobile-num-block{
	background: #F5BA42;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
	margin-left: -10px;
	z-index: 10;
}

.wrapper input,
.wrapper button {
    float: left;
}
.wrapper {
    position: relative;
    width: 100%;
     display: flex;

}
input {
    float: left;
    box-sizing: border-box;
    padding-right: 32%;
    width: 90%;
    height: 45px;
    padding-left: 10px;
    font-size: 1.1em;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 40%;
    height: 45px;
    background: rgba(83, 40, 101, 1);
    color: rgba(255, 191, 71, 1);
    border: 0px;
    font-size: 1em;
}
.head-bg-img{
	width: 100%;
	height: auto;
}

#help-text{
	width: 100%;
	font-size: 0.9em;
}
.error{
	color: #F11717;
}
.success{
	color: #3c763d;
}
#free{
	cursor: pointer;
}