/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 12
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Open Sans', sans-serif;
} 
body { 
	background: #FFBF47; 
	margin: 0; 
	color: #532865;
	overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 28px;
	color: #532865; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.pt {padding-top: 50px;}
.pb {padding-bottom: 50px;}
.pt2 {padding-top: 150px;}
.pb2 {padding-bottom: 150px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 85px; padding-bottom: 85px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

hr {
	border: 1px solid #5a5a5a;
	width: 120px;
}

/* MENU CONFIGURATION */
.menu {
	position: fixed;
	left: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	left: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 0px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #D2527F;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 16px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
    top: -10px;
    right: -10px;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 18px;
    color:#532865;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-right: -40px;
    padding: 20px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #3F1650;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}
#menuToggle i{
	margin-right: 10px;
}

/* HEADER SECTION */
#h {
	
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
	padding-top: 30px;
	width: 100% !important;
}
#h .logo_bar{
	padding-top: 20px;
}
.logo_bar img{
	max-width: 8%;
	padding-top: 10px;
}
#bck-img{
	width: 100%;
	margin-top: -50px;
}
.full-width{
	width: 100%;
}
 .phone-register{
	width: 100%;
	background: #FDB239;
	padding: 30px;
	padding:0px;
	position:fixed;
	z-index:1;
	bottom:50px;
}
#h hr {
	border: 2px solid white;
	width: 120px;
}

#h h1 {
	font-weight: 900;
	font-size: 60px;
	color: #532865;
}

#h h2 {
	color: #532865;
}

.go { 
	display: block; 
	transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

.go:hover, .go:focus { 
	transform: translate(0, -10px); 
	-webkit-transform: translate(0, -10px); 
	-o-transform: translate(0, -10px); 
	-moz-transform: translate(0, -10px); 
}

.go a , .go i {
	color: #100049;
	font-size: 20px;
}

/* Grey Section */
#g {
	padding-top: 50px;
	padding-bottom: 50px;
}

.circle-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #D2527F;
	position: relative;
}

.circle-icon .icon {
	color: #fff;
	line-height: 120px;
	text-align: center;
}

.icon {
	font-size: 50px;
}

.icon-sm {
	font-size: 20px;
}

.btn-apple {
	background: #D2527F;
	border-radius: 30px;
	padding: 16px 32px 20px;
	color: white;
	margin: 10px;
}

.btn-android {
	background: #532865;
	border-radius: 30px;
	padding: 16px 32px 20px;
	color: #FFBF47;
	margin: 10px;
}
.btn-android:hover,.btn-android:focus{
	color:#FFBF47
}


/* features */
.f-r {
	text-align: right;
	margin: 15px;
}

.f-l {
	text-align: left;
	margin: 15px;
}

.features {
	padding: 10px;
}

.features:hover {
	background: #f2f2f2;
	cursor: pointer;
}

.features p {
	font-size: 16px;
	color: #a0a0a0;
	line-height: 26px;
}

.features h3 {
	color: #D2527F;
}

/* Testimonial Section */
#t {
	background: url(../img/testimonials.jpg) no-repeat center top;
	padding-top: 100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#t p {
	color: white;
}

#t hr {
	border-color: white;
}

/* FOOTER */

#f {
	padding-bottom: 50px;
	padding-top: 50px;
	background: white;
}

#f input , input{ 
	font-size: 18px;
	min-height: 60px;
	line-height: 24px;
	padding: 16px 30px 20px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

#f .subscribe-input {
	float: left;
	width: 95%;
	text-align: left;
}

#f .subscribe-submit {
	position: absolute;
	right: 0;
	padding-left: 28px;
}

/* Button used in the footer - contact form */
.btn-submit {
	color: #FFBF47;
	font-size: 18px;
	min-height: 60px;
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	padding: 16px 30px 20px;
	z-index: 1;
	position: relative;
	border: none;
	background: #532865;
	margin-left: -10px;
}
.btn-submit:hover{
	color: #FFBF47;
}
@media screen and (max-width: 740px){ 
.f-r {
	text-align: center;
}

.f-l {
	text-align: center;
}
}

.ind-item{
	display: inline-block;
	cursor: pointer;
}
.ind-item span{
	display: table-cell;
	width: 50px;
	height: 50px;
	font-size: 2em;
	border-radius: 50%;
	color: #FFBF47;
	vertical-align: middle;
	background-color: #DDA04D;
	margin: 10px;
}
.ind-item-active span{
	background-color: #532865;
}

footer{
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #FFBF47;
	position: fixed;
	bottom: 0px;
	z-index: 1;
	vertical-align: middle;
	padding-top: 10px;
}

.contact-sec-2{
	background-color: #FDB239;
}

.ft{
	display: none;
}

.ft-active{
	display: block;
}
.slide-image{
	max-height: 300px;
	width: auto;
}

.icon-img{
	max-width: 150px;
}